exportPattern("^[[:alpha:]]+")
exportMethods(
    "[",
    "[<-",
    "show",
    "summary",
    "names"
)
exportClasses(
    "KDD",
    "KDD.yearly.average",
    "KT.output"
)
importFrom("grDevices", "gray")
importFrom("graphics", "abline", "axis", "box", "boxplot", "contour",
           "hist", "image", "lines", "mtext", "points", "polygon",
           "text")
importFrom("stats", "dist", "quantile", "rbinom", "sd")


import("methods")
import("maps")
import("mapdata")
import("proj4")
import("sp")
import("geoR")
