exportPattern("^[[:alpha:]]+")
exportMethods(
    "[",
    "[<-",
    "show",
    "summary",
    "names"
)
exportClasses(
    "KDD",
    "KDD.yearly.average",
    "KT.output"
)
import("methods")
import("maps")
import("mapdata")
import("proj4")
import("geoR")
import("sp")
